@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../fonts/HelveticaNeue-Bold.ttf");
}

html,
body {
    min-width: 54%;
    margin: 65pt auto auto auto;
    padding: 0 0 0 10pt;
    display: flex;
    user-select: none;
    color: white;
    flex-direction: column;
    background-color: black;
    font-family: 'HelveticaNeue-Bold';
}

@media (max-width: 677px) {
    html,
    body {
        margin-left: 1pt;
    }
}

@media (max-height: 580px) {
    html,
    body {
        margin-top: 30pt;
    }
}

a {
    font-family: 'HelveticaNeue-BoldItalic';
    color: white;
}

.hello {
    font-size: 30pt;
}

.learn-me {
    font-size: 15pt;
    margin-top: 30pt;
}

.links {
    margin-top: 10pt;
}

.links img {
    height: 27pt;
    margin-right: 5pt;
}

.write-me {
    margin-top: 25pt;
    margin-right: 25pt;
    font-size: 15pt;
}
